
name:  Deploy

on:
  push:
    branches: [ main ]

jobs:

  deploy-dev:
    name: Deploy to develop
    environment:
      name: dev
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to staging using (${{ secrets.DEV_SECRET }}) secret
        
  deploy-prod:
    name: Deploy to production
    environment:
      name: prod
    needs: [deploy-dev]
    runs-on: ubuntu-latest
    steps:
      - run: echo Deploy to production using (${{ secrets.PROD_SECRET }}) secret